# Ignore log and user files
*.log
*.txt
*.json
nuitka-crash-report.xml

# Python cache
__pycache__/
*.py[cod]

# Ignore timeLog directory
timeLog/
build/
installer_files_*/
prod/installers/
!prod/installers/.gitkeep
dist/

.venv/

Dockerfile
.dockerignore

/__pycache__
user_programs.json
user_programs.txt
config.json
.pytest_cache/
*.egg-info/
prod/*.spec