# Ignore log and user files
time_tracker_app.log
user_programs.txt
compile exe.txt
nuitka-crash-report.xml

# Python cache
__pycache__/
*.py[cod]

# Ignore timeLog directory
timeLog/
build/

.venv/

Dockerfile
.dockerignore

